body {
  background: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count h1 {
  color: rgb(12, 155, 243);
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
}

.count button {
  padding: 12px 30px;
  margin-right: 10px;
  background: rgba(25, 241, 223, 0.685);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}

.product {
  background: rgba(4, 164, 175, 0.849);
  padding: 10px;
  margin: 20px;

}